[submodule "3rdparty/spdlog"]
	path = 3rdparty/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = v1.x
[submodule "3rdparty/libevent"]
	path = 3rdparty/libevent
	url = https://github.com/libevent/libevent.git
[submodule "3rdparty/jsoncpp"]
	path = 3rdparty/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
	branch = 0.y.z
